stages:
  - package
  - deploy
  - benchmarks
  - benchmarks-pr-comment
  - single-step-instrumentation-tests

include:
  - remote: https://gitlab-templates.ddbuild.io/apm/packaging.yml
  - local: ".gitlab/benchmarks.yml"
  - local: ".gitlab/single-step-instrumentation-tests.yml"

variables:
  JS_PACKAGE_VERSION:
    description: "Version to build for .deb and .rpm. Must be already published in NPM"
  DOWNSTREAM_BRANCH:
    value: "master"
    description: "Run a specific datadog-reliability-env branch downstream"

.common: &common
  tags: [ "runner:main", "size:large" ]

package_version:
  #image: docker:git
  extends: .common
  stage: package
  rules:
    - if: $JS_PACKAGE_VERSION
      when: on_success
    - if: '$CI_COMMIT_TAG =~ /^v.*/'
      when: on_success
    - if: $CI_COMMIT_BRANCH == 'robertomonteromiguel/add_onboarding_tests'
      when: on_success
    - when: manual
      allow_failure: true
  script:
   - |
      if [ -z "$JS_PACKAGE_VERSION$CI_COMMIT_TAG" ]; then
        echo CI_JOB_ID=$CI_JOB_ID
        echo CI_COMMIT_REF_NAME=$CI_COMMIT_REF_NAME
        echo CI_COMMIT_SHA=$CI_COMMIT_SHA
        sh lib-injection/patch_dev_version.sh glci $CI_JOB_ID $CI_COMMIT_REF_NAME $CI_COMMIT_SHA
      fi
  artifacts:
    reports:
      dotenv: package_version.env

package:
  extends: .package
  needs: 
    - job: package_version
      artifacts: true
  script:
    - ../.gitlab/build-deb-rpm.sh

package-arm:
  extends: .package-arm
  needs: 
    - job: package_version
      artifacts: true
  script:
    - ../.gitlab/build-deb-rpm.sh

.release-package:
  stage: deploy
  variables:
    PRODUCT_NAME: auto_inject-node
    PACKAGE_FILTER: js # product name is "node" but package name ends "js"

deploy_to_reliability_env:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: on_success
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/apm-reliability/datadog-reliability-env
    branch: $DOWNSTREAM_BRANCH
  variables:
    UPSTREAM_BRANCH: $CI_COMMIT_REF_NAME
    UPSTREAM_PROJECT_ID: $CI_PROJECT_ID
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    UPSTREAM_COMMIT_SHA: $CI_COMMIT_SHA

deploy_to_docker_registries:
  stage: deploy
  needs: []
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*/ || $CI_COMMIT_TAG == "dev"'
      when: on_success
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-js/dd-lib-js-init:$CI_COMMIT_TAG
    IMG_DESTINATIONS: dd-lib-js-init:$CI_COMMIT_TAG
    IMG_SIGNING: "false"
    RETRY_COUNT: 5
    RETRY_DELAY: 300

deploy_latest_to_docker_registries:
  stage: deploy
  needs: []
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*/'
      when: on_success
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-js/dd-lib-js-init:$CI_COMMIT_TAG
    IMG_DESTINATIONS: dd-lib-js-init:latest
    IMG_SIGNING: "false"
    RETRY_COUNT: 5
    RETRY_DELAY: 300
