stages:
  - shared-pipeline
  - benchmarks
  - benchmarks-pr-comment
  - single-step-instrumentation-tests
  - macrobenchmarks

include:
  - remote: https://gitlab-templates.ddbuild.io/libdatadog/include-wip/robertomonteromiguel/k8s_new_scenarios/single-step-instrumentation-tests.yml
  - local: ".gitlab/benchmarks.yml"
  - local: ".gitlab/macrobenchmarks.yml"

variables:
  # dd-trace-js has some exceptions to the default names
  AGENT_REPO_PRODUCT_NAME: auto_inject-node
  SYSTEM_TESTS_LIBRARY: nodejs

onboarding_tests_installer:
  parallel:
    matrix:
      - ONBOARDING_FILTER_WEBLOG: [test-app-nodejs,test-app-nodejs-container]
        SCENARIO: [ SIMPLE_INSTALLER_AUTO_INJECTION, SIMPLE_AUTO_INJECTION_PROFILING ]

onboarding_tests_k8s_injection:
  variables:
    WEBLOG_VARIANT: sample-app

requirements_json_test:
  rules:
    - when: on_success
  variables:
    REQUIREMENTS_BLOCK_JSON_PATH: ".gitlab/requirements_block.json"
    REQUIREMENTS_ALLOW_JSON_PATH: ".gitlab/requirements_allow.json"

