*
!ext/**/*
!packages/*/lib/**/*
!packages/*/src/**/*
!packages/*/index.js
!scripts/preinstall.js
!vendor/**/*
!LICENSE
!LICENSE-3rdparty.csv
!index.d.ts
!index.js
!esbuild.js
!init.js
!loader-hook.mjs
!register.js
!package.json
!cypress/**/*
!ci/**/*
!version.js
