*
!dist/**/*
!ext/**/*
!packages/*/lib/**/*
!packages/*/src/**/*
!packages/*/browser.js
!packages/*/index.js
!prebuilds/**/*
!protobuf/**/*
!scripts/**/*
!CONTRIBUTING.md
!LICENSE
!LICENSE-3rdparty.csv
!README.md
!binding.gyp
!browser.js
!index.d.ts
!index.js
!init.js
!package.json
