version: '2'
services:
  postgres:
    image: postgres:9.5-alpine
    ports:
      - '127.0.0.1:5432:5432'
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=db
    ports:
      - "127.0.0.1:3306:3306"
  redis:
    image: redis:4.0-alpine
    ports:
      - "127.0.0.1:6379:6379"
  mongo:
    image: mongo:3.6
    ports:
      - "127.0.0.1:27017:27017"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms64m -Xmx64m"
    ports:
      - "127.0.0.1:9200:9200"
  rabbitmq:
    image: rabbitmq:3.6-alpine
    ports:
      - "127.0.0.1:5672:5672"
  qpid:
    image: scholzj/qpid-cpp:1.38.0
    command: -p 5673
    environment:
      - QPIDD_ADMIN_USERNAME=admin
      - QPIDD_ADMIN_PASSWORD=admin
    ports:
      - "127.0.0.1:5673:5673"
  memcached:
    image: memcached:1.5-alpine
    ports:
      - "11211:11211"
