version: "2"
services:
  couchbase:
    image: rishabhdev/couchbase-server-sandbox:latest
    ports:
      - "127.0.0.1:8091-8095:8091-8095"
      - "127.0.0.1:11210:11210"
  postgres:
    image: postgres:9.5-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "127.0.0.1:5432:5432"
  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    environment:
      - "ACCEPT_EULA=Y"
      - "SA_PASSWORD=DD_HUNTER2"
      - "MSSQL_PID=Express"
    ports:
      - "127.0.0.1:1433:1433"
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=db
    ports:
      - "127.0.0.1:3306:3306"
  redis:
    image: redis:4.0-alpine
    ports:
      - "127.0.0.1:6379:6379"
  mongo:
    image: circleci/mongo
    ports:
      - "127.0.0.1:27017:27017"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms64m -Xmx64m"
    ports:
      - "127.0.0.1:9200:9200"
  rabbitmq:
    image: rabbitmq:3.6-alpine
    ports:
      - "127.0.0.1:5672:5672"
  qpid:
    image: scholzj/qpid-cpp:1.38.0
    command: -p 5673
    environment:
      - QPIDD_ADMIN_USERNAME=admin
      - QPIDD_ADMIN_PASSWORD=admin
    ports:
      - "127.0.0.1:5673:5673"
  memcached:
    image: memcached:1.5-alpine
    ports:
      - "11211:11211"
  cassandra:
    image: spotify/cassandra
    environment:
      - CASSANDRA_TOKEN=-9223372036854775808
    ports:
      - "127.0.0.1:9042:9042"
  limitd:
    image: rochdev/limitd
    environment:
      - BUCKET_1_NAME=user
      - BUCKET_1_SIZE=10
      - BUCKET_1_PER_SECOND=5
    ports:
      - "127.0.0.1:9231:9231"
  google-cloud-pubsub:
    image: knarz/pubsub-emulator
    ports:
      - "127.0.0.1:8085:8085"
  localstack:
    image: localstack/localstack
    ports:
      - "127.0.0.1:4569:4569"
      - "127.0.0.1:4568:4568"
      - "127.0.0.1:4572:4572"
      - "127.0.0.1:4576:4576"
      - "127.0.0.1:4575:4575"
      - "127.0.0.1:4580:4580"
      - "127.0.0.1:4586:4586"
      - "127.0.0.1:4577:4577"
    environment:
      - LOCALSTACK_SERVICES=dynamodb:4569,kinesis:4568,s3:4572,sqs:4576,sns:4575,redshift:4577,route53:4580,logs:4586
      - EXTRA_CORS_ALLOWED_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - EXTRA_CORS_EXPOSE_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - FORCE_NONINTERACTIVE=true
      - START_WEB=0

  # https://github.com/confluentinc/kafka-images/blob/master/examples/kafka-single-node/docker-compose.yml
  zookeeper:
    image: confluentinc/cp-zookeeper:5.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:5.5.0
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

