version: "2"
services:
  couchbase:
    image: sabrenner/couchbase-server-sandbox:sandbox
    ports:
      - "127.0.0.1:8091-8095:8091-8095"
      - "127.0.0.1:11210:11210"
  postgres:
    image: postgres:9.5-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "127.0.0.1:5432:5432"
  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    environment:
      - "ACCEPT_EULA=Y"
      - "SA_PASSWORD=DD_HUNTER2"
      - "MSSQL_PID=Express"
    ports:
      - "127.0.0.1:1433:1433"
  mysql:
    image: mariadb:10.4
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=db
    ports:
      - "127.0.0.1:3306:3306"
  redis:
    image: redis:4.0-alpine
    ports:
      - "127.0.0.1:6379:6379"
  mongo:
    image: circleci/mongo:3.6
    ports:
      - "127.0.0.1:27017:27017"
  oracledb:
    image: quillbuilduser/oracle-18-xe
    ports:
      - '127.0.0.1:1521:1521'
      - '127.0.0.1:5500:5500'
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.0
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms128m -Xmx128m"
    ports:
      - "127.0.0.1:9200:9200"
  rabbitmq:
    image: rabbitmq:3.6-alpine
    ports:
      - "127.0.0.1:5672:5672"
  qpid:
    image: scholzj/qpid-cpp:1.38.0
    command: -p 5673
    environment:
      - QPIDD_ADMIN_USERNAME=admin
      - QPIDD_ADMIN_PASSWORD=admin
    ports:
      - "127.0.0.1:5673:5673"
  memcached:
    image: memcached:1.5-alpine
    ports:
      - "11211:11211"
  cassandra:
    image: spotify/cassandra
    environment:
      - CASSANDRA_TOKEN=-9223372036854775808
    ports:
      - "127.0.0.1:9042:9042"
  limitd:
    image: rochdev/limitd
    environment:
      - BUCKET_1_NAME=user
      - BUCKET_1_SIZE=10
      - BUCKET_1_PER_SECOND=5
    ports:
      - "127.0.0.1:9231:9231"
  google-cloud-pubsub:
    image: knarz/pubsub-emulator
    ports:
      - "127.0.0.1:8085:8085"
  localstack:
    image: localstack/localstack:0.11.2
    ports:
      - "127.0.0.1:4569:4569" # DynamoDB
      - "127.0.0.1:4568:4568" # Kinesis
      - "127.0.0.1:4572:4572" # S3
      - "127.0.0.1:4576:4576" # SQS
      - "127.0.0.1:4575:4575" # SNS
      - "127.0.0.1:4580:4580" # Route53
      - "127.0.0.1:4586:4586" # CloudWatch Logs
      - "127.0.0.1:4577:4577" # Redshift
    environment:
      - LOCALSTACK_SERVICES=dynamodb,kinesis,s3,sqs,sns,redshift,route53,logs
      - EXTRA_CORS_ALLOWED_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - EXTRA_CORS_EXPOSE_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - FORCE_NONINTERACTIVE=true
      - START_WEB=0
      - EDGE_PORT=4565
  serverless_localstack:
    image: localstack/localstack:0.12.4
    ports:
      - "127.0.0.1:4566:4566" # Edge
    environment:
      - LOCALSTACK_SERVICES=serverless
      - EXTRA_CORS_ALLOWED_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - EXTRA_CORS_EXPOSE_HEADERS=x-amz-request-id,x-amzn-requestid,x-amz-id-2
      - FORCE_NONINTERACTIVE=true
      - START_WEB=0
      - LAMBDA_EXECUTOR=local
  kafka:
    image: debezium/kafka:1.7
    ports:
      - "127.0.0.1:9092:9092"
      - "127.0.0.1:9093:9093"
    environment:
      - CLUSTER_ID=5Yr1SIgYQz-b-dgRabWx4g
      - NODE_ID=1
      - CREATE_TOPICS="test-topic:1:1"
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0

