version: 2
jobs:
  docker-base: &docker-base
    docker:
      - image: node:8
      - &postgres
        image: postgres:9.5
      - &mysql
        image: mysql:5.7
        environment:
          - MYSQL_ROOT_PASSWORD=rootpass
          - MYSQL_PASSWORD=userpass
          - MYSQL_USER=user
          - MYSQL_DATABASE=db
      - &redis
        image: redis:4.0-alpine
      - &mongo
        image: mongo:3.6
      - &elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
      - &rabbitmq
        image: rabbitmq:3.6-alpine
  lint:
    docker:
      - image: node
    working_directory: ~/dd-trace-js
    steps:
      - checkout
      - run:
          name: Versions
          command: npm version
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Lint
          command: npm run lint
  test-memory-leaks:
    <<: *docker-base
    working_directory: ~/dd-trace-js
    steps:
      - checkout
      - run:
          name: Versions
          command: npm version
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm run leak
  build-node-base: &node-base
    <<: *docker-base
    working_directory: ~/dd-trace-js
    steps:
      - checkout
      - run:
          name: Versions
          command: npm version
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
      - run:
          name: Benchmark
          command: npm run bench
  build-node-4:
    <<: *node-base
    docker:
      - image: node:4
      - *postgres
      - *mysql
      - *redis
      - *mongo
      - *elasticsearch
      - *rabbitmq
  build-node-6:
    <<: *node-base
    docker:
      - image: node:6
      - *postgres
      - *mysql
      - *redis
      - *mongo
      - *elasticsearch
      - *rabbitmq
  build-node-8:
    <<: *node-base
    docker:
      - image: node:8
      - *postgres
      - *mysql
      - *redis
      - *mongo
      - *elasticsearch
      - *rabbitmq
  build-node-latest:
    <<: *node-base
    docker:
      - image: node
      - *postgres
      - *mysql
      - *redis
      - *mongo
      - *elasticsearch
      - *rabbitmq

workflows:
  version: 2
  build:
    jobs:
      - lint
      - test-memory-leaks
      - build-node-4
      - build-node-6
      - build-node-8
      - build-node-latest
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build-node-4
      - build-node-6
      - build-node-8
      - build-node-latest
