version: 2

node-core-base: &node-core-base
  docker:
    - image: node:8
  working_directory: ~/dd-trace-js
  resource_class: small
  steps:
    - checkout
    - run:
        name: Versions
        command: yarn versions
    - &restore-yarn-cache
      restore_cache:
        key: yarn-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
    - run:
        name: Install dependencies
        command: yarn install
    - &save-yarn-cache
      save_cache:
        key: yarn-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
        paths:
          - ./node_modules
          - ./yarn.lock
    - run:
        name: Unit tests
        command: yarn test:core
    - run:
        name: Benchmark
        command: yarn bench

node-plugin-base: &node-plugin-base
  docker:
    - image: node:8
  working_directory: ~/dd-trace-js
  resource_class: small
  steps:
    - checkout
    - run:
        name: Versions
        command: yarn versions
    - &restore-yarn-cache
      restore_cache:
        key: yarn-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
    - run:
        name: Install dependencies
        command: yarn install
    - &save-yarn-cache
      save_cache:
        key: yarn-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
        paths:
          - ./node_modules
          - ./yarn.lock
    - run:
        name: Unit tests
        command: yarn test:plugins
    - run:
        name: Memory leak tests
        command: yarn leak:plugins

jobs:
  # Linting

  lint:
    docker:
      - image: node
    working_directory: ~/dd-trace-js
    resource_class: small
    steps:
      - checkout
      - run:
          name: Versions
          command: yarn versions
      - *restore-yarn-cache
      - run:
          name: Install dependencies
          command: yarn install
      - *save-yarn-cache
      - run:
          name: Lint
          command: yarn lint

  # Core tests

  node-core-4:
    <<: *node-core-base
    docker:
      - image: node:4

  node-core-6:
    <<: *node-core-base
    docker:
      - image: node:6

  node-core-8:
    <<: *node-core-base
    docker:
      - image: node:8

  node-core-10:
    <<: *node-core-base
    docker:
      - image: node:10

  node-core-latest:
    <<: *node-core-base
    docker:
      - image: node

  node-leaks:
    docker:
      - image: node:8
    working_directory: ~/dd-trace-js
    resource_class: small
    steps:
      - checkout
      - run:
          name: Versions
          command: yarn versions
      - *restore-yarn-cache
      - run:
          name: Install dependencies
          command: yarn install
      - *save-yarn-cache
      - run:
          name: Memory leak tests
          command: yarn leak:core

  # Plugin tests

  node-amqplib:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=rabbitmq
          - PLUGINS=amqplib
      - image: rabbitmq:3.6-alpine

  node-amqp10:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=qpid
          - PLUGINS=amqp10
      - image: scholzj/qpid-cpp:1.38.0
        command: -p 5673
        environment:
          - QPIDD_ADMIN_USERNAME=admin
          - QPIDD_ADMIN_PASSWORD=admin

  node-bluebird:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=bluebird

  node-elasticsearch:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=elasticsearch
          - PLUGINS=elasticsearch
      - image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
        environment:
          - discovery.type=single-node
          - "ES_JAVA_OPTS=-Xms64m -Xmx64m"

  node-express:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=express

  node-graphql:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=graphql

  node-hapi:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=hapi

  node-http:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=http

  node-ioredis:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=redis
          - PLUGINS=ioredis
      - image: redis:4.0-alpine

  node-koa:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=koa

  node-memcached:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=memcached
          - PLUGINS=memcached
      - image: memcached:1.5-alpine

  node-mysql:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=mysql
          - PLUGINS=mysql
      - image: mysql:5.7
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=yes
          - MYSQL_DATABASE=db

  node-mysql2:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=mysql
          - PLUGINS=mysql2
      - image: mysql:5.7
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=yes
          - MYSQL_DATABASE=db

  node-mongodb-core:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=mongo
          - PLUGINS=mongodb-core
      - image: mongo:3.6

  node-pg:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=postgres
          - PLUGINS=pg
      - image: postgres:9.5

  node-q:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=q

  node-redis:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=redis
          - PLUGINS=redis
      - image: redis:4.0-alpine

  node-restify:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=restify

  node-router:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=router

  node-when:
    <<: *node-plugin-base
    docker:
      - image: node:8
        environment:
          - SERVICES=
          - PLUGINS=when

workflows:
  version: 2
  build:
    jobs:
      - lint
      - node-leaks
      - node-core-4
      - node-core-6
      - node-core-8
      - node-core-10
      - node-core-latest
      - node-amqplib
      - node-amqp10
      - node-bluebird
      - node-elasticsearch
      - node-express
      - node-graphql
      - node-hapi
      - node-http
      - node-ioredis
      - node-koa
      - node-memcached
      - node-mongodb-core
      - node-mysql
      - node-mysql2
      - node-pg
      - node-q
      - node-redis
      - node-restify
      - node-when
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - node-core-4
      - node-core-6
      - node-core-8
      - node-core-10
      - node-core-latest
      - node-amqplib
      - node-amqp10
      - node-bluebird
      - node-elasticsearch
      - node-express
      - node-graphql
      - node-hapi
      - node-http
      - node-ioredis
      - node-koa
      - node-memcached
      - node-mongodb-core
      - node-mysql
      - node-mysql2
      - node-pg
      - node-q
      - node-redis
      - node-restify
      - node-when
