interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "some project", "description":
      ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"errors":["Unauthorized"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
