[
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/projects",
    "body": {
      "data": {
        "type": "projects",
        "attributes": {
          "name": "my-app"
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "id": "proj"
      }
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/proj/datasets",
    "body": {
      "data": {
        "type": "datasets",
        "attributes": {
          "name": "demo",
          "description": ""
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "id": "ds",
        "attributes": {
          "current_version": 1
        }
      }
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/proj/datasets/ds/records",
    "body": {
      "data": {
        "type": "datasets",
        "attributes": {
          "records": [
            {
              "input": "a",
              "id": "custom-a"
            },
            {
              "input": "b",
              "id": "custom-b"
            }
          ]
        }
      }
    },
    "status": 200,
    "response": {
      "data": [
        {
          "id": "custom-a",
          "attributes": {
            "valid_from_version": 2
          }
        },
        {
          "id": "custom-b",
          "attributes": {
            "valid_from_version": 2
          }
        }
      ]
    },
    "rawHeaders": ["Content-Type", "application/json"]
  }
]
