[
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/projects",
    "body": {
      "data": {
        "type": "projects",
        "attributes": {
          "name": "my-app"
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "id": "proj"
      }
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/proj/datasets",
    "body": {
      "data": {
        "type": "datasets",
        "attributes": {
          "name": "demo",
          "description": "desc"
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "id": "ds",
        "attributes": {
          "current_version": 1
        }
      }
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/proj/datasets/ds/records",
    "body": {
      "data": {
        "type": "datasets",
        "attributes": {
          "records": [
            {
              "input": { "q": "apple" },
              "expected_output": "true",
              "metadata": { "row": 0 }
            },
            {
              "input": { "q": "car" },
              "expected_output": "false",
              "metadata": { "row": 1 }
            }
          ]
        }
      }
    },
    "status": 200,
    "response": {
      "data": [
        {
          "id": "rec-0",
          "attributes": {
            "valid_from_version": 2
          }
        },
        {
          "id": "rec-1",
          "attributes": {
            "valid_from_version": 2
          }
        }
      ]
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/experiments",
    "body": {
      "data": {
        "type": "experiments",
        "attributes": {
          "name": "exp-demo",
          "project_id": "proj",
          "dataset_id": "ds",
          "description": "desc exp",
          "ensure_unique": true,
          "dataset_version": 2,
          "config": {
            "temperature": 0
          }
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "id": "exp"
      }
    },
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "POST",
    "path": "/api/v2/llm-obs/v1/experiments/exp/events",
    "status": 200,
    "response": {},
    "rawHeaders": ["Content-Type", "application/json"]
  },
  {
    "scope": "https://api.datadoghq.com",
    "method": "PATCH",
    "path": "/api/v2/llm-obs/v1/experiments/exp",
    "body": {
      "data": {
        "type": "experiments",
        "attributes": {
          "status": "completed"
        }
      }
    },
    "status": 200,
    "response": {},
    "rawHeaders": ["Content-Type", "application/json"]
  }
]
