[workspace]
members = [
  "common",
  "ffi",
  "hyper-client",
  "server"
]

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
panic = "abort"
strip = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
