name: Actionlint

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "0 4 * * *"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node/setup
      # NOTE: Ok this next bit seems unnecessary, right? The problem is that
      # this repo is currently incompatible with npm, at least with the
      # devDependencies. While this is intended to be corrected, it hasn't yet,
      # so the easiest thing to do here is just use a fresh package.json. This
      # is needed because actionlint runs an `npm install` at the beginning.
      - name: Clear package.json
        run: |
          rm package.json
          npm init -y
      - name: actionlint
        id: actionlint
        uses: raven-actions/actionlint@v2
        with:
          matcher: true
          fail-on-error: true
          shellcheck: false # TODO should we enable this?
      - name: actionlint Summary
        if: ${{ steps.actionlint.outputs.exit-code != 0 }}
        run: |
          echo "Used actionlint version ${{ steps.actionlint.outputs.version-semver }}"
          echo "Used actionlint release ${{ steps.actionlint.outputs.version-tag }}"
          echo "actionlint ended with ${{ steps.actionlint.outputs.exit-code }} exit code"
          echo "actionlint ended because '${{ steps.actionlint.outputs.exit-message }}'"
          echo "actionlint found ${{ steps.actionlint.outputs.total-errors }} errors"
          echo "actionlint checked ${{ steps.actionlint.outputs.total-files }} files"
          echo "actionlint cache used: ${{ steps.actionlint.outputs.cache-hit }}"
          exit ${{ steps.actionlint.outputs.exit-code }}
