name: Validate vendored bundle

on:
  pull_request:
    paths:
      - 'vendor/**'
  push:
    branches: [master]
    paths:
      - 'vendor/**'
  workflow_dispatch:

jobs:
  validate-vendored-bundle:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/node/active-lts
      # Running `yarn` also automatically runs Rspack as a postinstall script.
      - run: yarn --frozen-lockfile
        working-directory: vendor
      - run: git diff --exit-code
