name: Validate vendored bundle

on:
  pull_request:
    paths:
      - 'vendor/**'
  push:
    branches: [master]
    paths:
      - 'vendor/**'
  workflow_dispatch:

jobs:
  validate-vendored-bundle:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/node/active-lts
      # Running `yarn` also automatically runs Rspack as a postinstall script.
      - run: yarn --frozen-lockfile
        working-directory: vendor
      - run: git diff --exit-code
