name: Debugger

on:
  pull_request:
  push:
    branches: [master, mq-working-branch-master-*]
  schedule:
    - cron: 0 4 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  MOCHA_OPTIONS: ${{ github.ref == 'refs/heads/master' && '--retries 1' || '' }}

jobs:
  ubuntu:
    name: ${{ github.workflow }} / ubuntu (node-${{ matrix.version }})
    strategy:
      matrix:
        version: [oldest, maintenance, active, latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node
        with:
          version: ${{ matrix.version }}
      - uses: ./.github/actions/install
      - run: yarn test:code-origin:ci
      - run: yarn test:debugger:ci
      - run: yarn test:integration:debugger
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: debugger-ubuntu-${{ matrix.version }}
      - uses: ./.github/actions/coverage
        with:
          flags: debugger-ubuntu-${{ matrix.version }}
      - uses: DataDog/junit-upload-github-action@055560f63c405095e9228ba443eee7987e22bb94 # v2.1.1
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests
