name: Debugger

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: 0 4 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  MOCHA_OPTIONS: ${{ github.ref == 'refs/heads/master' && '--retries 1' || '' }}

jobs:
  ubuntu:
    strategy:
      matrix:
        version: [oldest, maintenance, active, latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node
        with:
          version: ${{ matrix.version }}
      - uses: ./.github/actions/install
      - run: ls -la /home/runner/work/
      - run: ls -la /home/runner/work/_actions
      - run: yarn test:debugger:ci
      - run: yarn test:integration:debugger
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: debugger-ubuntu-${{ matrix.version }}
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      - uses: DataDog/junit-upload-github-action@762867566348d59ac9bcf479ebb4ec040db8940a  # v2.0.0
        if: always()
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests
