name: ESLint Rules

on:
  pull_request:
    paths:
      - "eslint-rules/**"
  push:
    branches: [master, mq-working-branch-master-*]
    paths:
      - "eslint-rules/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  eslint-rules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
      - run: npm run test:eslint-rules
