name: ESLint Rules

on:
  pull_request:
    paths:
      - 'eslint-rules/**'
  push:
    branches: [master]
    paths:
      - 'eslint-rules/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  eslint-rules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
      - run: npm run test:eslint-rules
