name: Instrumentations

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

# TODO: upstream jobs


jobs:

  # These ones don't have a plugin directory, but exist in the
  # instrumentations directory, so they need to be run somewhere. This seems to
  # be a reasonable place to run them for now.

  check_require_cache:
    runs-on: ubuntu-latest
    env:
      PLUGINS: check_require_cache
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/plugins/test

  multer:
    runs-on: ubuntu-latest
    env:
      PLUGINS: multer
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/plugins/test

  passport-http:
    runs-on: ubuntu-latest
    env:
      PLUGINS: passport-http
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/plugins/test

  passport-local:
    runs-on: ubuntu-latest
    env:
      PLUGINS: passport-local
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/plugins/test
