name: LLMObs

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:
    inputs:
      latest-version:
        description: "Node version to use"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.latest-version }}-${{ github.ref || github.run_id }}"
  cancel-in-progress: true

env:
  MOCHA_OPTIONS: ${{ github.ref == 'refs/heads/master' && '--retries 1' || '' }}
  LATEST_VERSION: ${{ inputs.latest-version }}

jobs:
  sdk:
    strategy:
      matrix:
        version: [oldest, maintenance, active, latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node
        with:
          version: ${{ matrix.version }}
      - uses: ./.github/actions/install
      - run: yarn test:llmobs:sdk:ci
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}-${{ matrix.version }}
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-sdk-${{ matrix.version }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  openai:
    runs-on: ubuntu-latest
    env:
      PLUGINS: openai
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  langchain:
    runs-on: ubuntu-latest
    env:
      PLUGINS: langchain
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  bedrock:
    runs-on: ubuntu-latest
    env:
      PLUGINS: aws-sdk
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  vertex-ai:
    runs-on: ubuntu-latest
    env:
      PLUGINS: google-cloud-vertexai
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  ai:
    runs-on: ubuntu-latest
    env:
      PLUGINS: ai
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  anthropic:
    runs-on: ubuntu-latest
    env:
      PLUGINS: anthropic
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  google-genai:
    runs-on: ubuntu-latest
    env:
      PLUGINS: google-genai
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/testagent/start
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: ./.github/actions/node/latest
      - run: yarn test:plugins:ci
      - run: yarn test:llmobs:plugins:ci
        shell: bash
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: llmobs-${{ github.job }}
      - if: always()
        uses: ./.github/actions/testagent/logs
        with:
          suffix: llmobs-${{ github.job }}
      - uses: DataDog/junit-upload-github-action@a0226c9f1a3bd34f24ee659fec9639ab8cdc4789 # v2.1.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests
