name: Cache Forensics

on:
  pull_request:

jobs:
  cache-upload:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cache_key:
          - 'Aktlxw4hnyBVd/vZJbkdxGmq8Tw='
          - 'n71Gg/JormzoitmBpVjBCZCcL6Y='
          - 'PFxRDTsQC2CBRTRk3TMxWNYXnd0='
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ./cache-folder
          key: ${{ matrix.cache_key }}

      - name: Upload cached folder as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cache-artifact-${{ strategy.job-index }}
          path: ./cache-folder