name: Cache Forensics

on:
  pull_request:
    inputs:
      cache_key:
        description: 'Cache key'
        required: true
        type: string
        default: 'Aktlxw4hnyBVd/vZJbkdxGmq8Tw='

jobs:
  cache-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ./cache-folder
          key: ${{ github.event.inputs.cache_key }}

      - name: Upload cached folder as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cache-artifact
          path: ./cache-folder