name: Package Size

on:
  pull_request_target:
  schedule:
    - cron: '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  package-size-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn
      - name: Compute module size tree and report
        uses: qard/heaviest-objects-in-the-universe@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
