name: Pull Request Labels
on:
  pull_request_target:
    types: [opened, labeled, unlabeled, synchronize]
    branches:
      - 'master'
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v1
        with:
          mode: exactly
          count: 1
          labels: "semver-patch, semver-minor, semver-major"
