name: Profiling

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:
    inputs:
      latest-version:
        description: 'Node version to use'
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.latest-version }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  MOCHA_OPTIONS: ${{ github.ref == 'refs/heads/master' && '--retries 1' || '' }}
  LATEST_VERSION: ${{ inputs.latest-version }}

jobs:
  macos:
    name: ${{ github.workflow }} / macos
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/coverage
        with:
          flags: profiling-macos
      - uses: DataDog/junit-upload-github-action@055560f63c405095e9228ba443eee7987e22bb94  # v2.1.1
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  ubuntu:
    name: ${{ github.workflow }} / ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/newest-maintenance-lts
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/active-lts
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/latest
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/coverage
        with:
          flags: profiling-ubuntu
      - uses: DataDog/junit-upload-github-action@055560f63c405095e9228ba443eee7987e22bb94  # v2.1.1
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  windows:
    name: ${{ github.workflow }} / windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
        with:
          cache: 'true'
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/coverage
        with:
          flags: profiling-windows
      - uses: DataDog/junit-upload-github-action@055560f63c405095e9228ba443eee7987e22bb94  # v2.1.1
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests
