name: Profiling

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:
    inputs:
      latest-version:
        description: 'Node version to use'
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.latest-version }}-${{ github.ref || github.run_id }}"
  cancel-in-progress: true

env:
  MOCHA_OPTIONS: ${{ github.ref == 'refs/heads/master' && '--retries 1' || '' }}
  LATEST_VERSION: ${{ inputs.latest-version }}

jobs:
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: profiling-macos
      - uses: DataDog/junit-upload-github-action@762867566348d59ac9bcf479ebb4ec040db8940a  # v2.0.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/node/oldest-maintenance-lts
      - uses: ./.github/actions/install
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/newest-maintenance-lts
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/active-lts
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: ./.github/actions/node/latest
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: profiling-ubuntu
      - uses: DataDog/junit-upload-github-action@762867566348d59ac9bcf479ebb4ec040db8940a  # v2.0.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/node/latest
      - uses: ./.github/actions/install
        with:
          cache: 'true'
      - run: yarn test:profiler:ci
      - run: yarn test:integration:profiler
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: profiling-windows
      - uses: DataDog/junit-upload-github-action@762867566348d59ac9bcf479ebb4ec040db8940a  # v2.0.0
        if: always() && github.actor != 'dependabot[bot]'
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          service: dd-trace-js-tests
