name: Project

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  integration:
    strategy:
      matrix:
        version: [12, 14, 16, 18, latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/node/setup
      - run: yarn install
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - run: yarn test:integration

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/node/setup
      - run: yarn install
      - run: yarn lint

  typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/node/setup
      - run: yarn install
      - run: yarn type:test
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: yarn type:doc
