name: Release

on:
  push:
    branches:
      - v2.x

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish
      - id: pkg
        run: |
          content=`cat ./package.json | tr '\n' ' '`
          echo "::set-output name=json::$content"
      - run: |
          git tag v${{ fromJson(steps.pkg.outputs.json).version }}
          git push origin v${{ fromJson(steps.pkg.outputs.json).version }}

  docs:
    runs-on: ubuntu-latest
    needs: ['publish']
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - id: pkg
        run: |
          content=`cat ./package.json | tr '\n' ' '`
          echo "::set-output name=json::$content"
      - run: yarn
      - name: Build
        working-directory: docs
        run: |
          yarn
          yarn build
          mv out /tmp/out
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      - name: Deploy
        run: |
          rm -rf *
          mv /tmp/out/* .
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A
          git commit -m ${{ fromJson(steps.pkg.outputs.json).version }}
          git push
