name: '[Release Proposal]'

on:
  workflow_dispatch:
  schedule:
    - cron: 0 5 * * *

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  create-proposal:
    strategy:
      fail-fast: false
      matrix:
        release-line: ['5']
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      workflows: write
    steps:
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
      - uses: ./.github/actions/node
        with:
          version: ''
      - uses: ./.github/actions/install/branch-diff
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: node scripts/release/proposal ${{ matrix.release-line }} -y ${{ github.event_name == 'workflow_dispatch' && '-f' || '' }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
