name: "Release Validation"

on:
  pull_request:
    branches:
      - v[0-9]+.[0-9]+.[0-9]+-proposal

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  validate-proposal:
    strategy:
      fail-fast: false
      matrix:
        release-line: ["5"]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: ./.github/actions/node
        with:
          version: ""
      - uses: ./.github/actions/install/branch-diff
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: node scripts/release/validate
