name: System Tests

on:
  pull_request:
    branches:
      - "**"
  push:
    branches: [master]
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dd-trace-js
        uses: actions/checkout@v4
        with:
          path: dd-trace-js
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: system_tests_binaries
          path: .

  get-essential-scenarios:
    runs-on: ubuntu-latest
    outputs:
      scenario: ${{ steps.parse-yml.outputs.scenario }}
    steps:
      - name: Checkout system tests
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'
      - name: Get Essential Scenarios
        id: parse-yml
        run: yq -o tsv .TRACER_ESSENTIAL_SCENARIOS ./scenario_groups.yml | xargs node -p "x=process.argv;x.shift();x.push('CROSSED_TRACING_LIBRARIES');'scenario='+JSON.stringify(x)" >> $GITHUB_OUTPUT


  system-tests:
    runs-on: ubuntu-latest
    needs:
      - get-essential-scenarios
    strategy:
      matrix:
        weblog-variant:
          - express4
          - express4-typescript
          - nextjs
        scenario: ${{fromJson(needs.get-essential-scenarios.outputs.scenario)}}

    env:
      TEST_LIBRARY: nodejs
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout system tests
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'
      - name: Checkout dd-trace-js
        uses: actions/checkout@v4
        with:
          path: 'binaries/dd-trace-js'
      - name: Build weblog
        run: ./build.sh -i weblog
      - name: Build runner
        uses: ./.github/actions/install_runner
      - name: Pull agent
        id: build-agent
        run: |
          docker pull ghcr.io/datadog/system-tests/docker/agent:latest
          docker tag ghcr.io/datadog/system-tests/docker/agent:latest system_tests/agent
      - name: Run scenario ${{ matrix.scenario }}
        run: ./run.sh ${{ matrix.scenario }}
      - name: Compress artifact
        if: ${{ always() }}
        run: tar -czvf artifact.tar.gz $(ls | grep logs)
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: logs_${{ matrix.weblog-variant }}-${{ matrix.scenario }}
          path: artifact.tar.gz

  parametric:
    needs:
      - build-artifacts
    uses: DataDog/system-tests/.github/workflows/run-parametric.yml@main
    secrets: inherit
    with:
      library: nodejs
      binaries_artifact: system_tests_binaries
      _experimental_job_count: 8
      _experimental_job_matrix: '[1,2,3,4,5,6,7,8]'
