name: System Tests

on:
  pull_request:
    branches:
      - "**"
  push:
    branches: [master]
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  system-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - weblog-variant: express4
          - weblog-variant: express4-typescript
          - weblog-variant: nextjs
    env:
      TEST_LIBRARY: nodejs
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout system tests
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'
          ref: conti/nodejs-dsm-hashing-consistency

      - name: Checkout dd-trace-js
        uses: actions/checkout@v4
        with:
          path: 'binaries/dd-trace-js'

      - name: Build weblog
        run: ./build.sh -i weblog

      - name: Build runner
        uses: ./.github/actions/install_runner

      - name: Build agent
        id: build-agent
        run: ./build.sh -i agent

      - name: Run
        run: ./run.sh TRACER_ESSENTIAL_SCENARIOS

      - name: Run Cross Tracer Propagation Tests
        # run if builds passed (allows these tests to still run in case the previous Run step failed)
        if: steps.build-agent.outcome == 'success'
        run: ./run.sh CROSSED_TRACING_LIBRARIES 

      - name: Compress artifact
        if: ${{ always() }}
        run: tar -czvf artifact.tar.gz $(ls | grep logs)

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: logs_express-poc
          path: artifact.tar.gz

  parametric:
    runs-on: ubuntu-latest
    env:
      TEST_LIBRARY: nodejs
    steps:
      - name: Checkout system tests
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Checkout dd-trace-js
        uses: actions/checkout@v4
        with:
          path: 'binaries/dd-trace-js'
      - name: Build
        run: ./build.sh -i runner
      - name: Run
        run: ./run.sh PARAMETRIC
      - name: Compress artifact
        if: ${{ always() }}
        run: tar -czvf artifact.tar.gz $(ls | grep logs)
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: logs_parametric
          path: artifact.tar.gz
