name: "Lib Injection Test"

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: '0 4 * * *'

jobs:

  build-and-publish-init-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4

      - name: Log in to the Container registry
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: ./.github/actions/injection
        with:
            init-image-version: ${GITHUB_SHA}

  injection-tests:
    needs:
      - build-and-publish-init-image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        lib-injection-connection: [ 'network','uds']
        lib-injection-use-admission-controller: ['', 'use-admission-controller']
        weblog-variant: [ 'sample-app']
      fail-fast: false
    env:
      TEST_LIBRARY: nodejs
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      LIBRARY_INJECTION_CONNECTION: ${{ matrix.lib-injection-connection }}
      LIBRARY_INJECTION_ADMISSION_CONTROLLER: ${{ matrix.lib-injection-use-admission-controller }}
      DOCKER_REGISTRY_IMAGES_PATH: ghcr.io/datadog
      DOCKER_IMAGE_TAG: ${{ github.sha }}
      BUILDX_PLATFORMS: linux/amd64
    steps:
 
      - name: Checkout system tests
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4
        with:
          repository: 'DataDog/system-tests'
          ref: 'robertomonteromiguel/lib_injection_integration'
          path: './system-tests'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2 # 2.0.0
        with:
          install: true
          config-inline: |
              [worker.oci]
                max-parallelism = 1

      - name: Log in to the Container registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push test images
        run: |
          cd system-tests   
          ./lib-injection/run.sh build-and-push-test-app-image  
          ./lib-injection/build.sh
 
      - name: Run lib injection tests
        run: |
          cd system-tests   
          ./lib-injection/run-lib-injection.sh